
@use '../../styles/mixins.scss';

.containerCompare {
    --results-content-height: 450px;
    --results-content-width: 400px;

    display: grid;
    grid-template-columns: var(--results-content-width) auto;
    width: 100vw;
    margin: auto;

    h2 {
        margin-bottom: var(--mg-lg);
    }
}

.container {
    --width-for-results: 250px;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-left: auto;
    margin-top: 80px;

    li {
        list-style: none;
    }
}

.listContainer {
    padding: 0 50px;
}

.title {
    margin-bottom: 30px;
    text-align: center;
}

.results {
    position: sticky;
    margin-top: -100px;
    height: 100vh;
    width: var(--results-content-width);
    padding: 75px 20px 30px 20px;
    top: 0;
    left: 0;
    margin-left: calc(var(--results-content-width) * -0.5);
    border-right: 1px dotted var(--c-grey-light);
}

.resultsContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: var(--mg-lg) auto 0 auto;

    input:checked + label {
        background-color: transparent !important;

        p {
            color: var(--c-font-global);
        }
    }
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}

.textEmpty {
    text-align: left;
}

.episodesInCommon {
    display: flex;
    flex-direction: column;
    margin-top: var(--mg-md);
    grid-template-columns: repeat(4, 20%);
    height: var(--results-content-list);
    overflow-y: scroll;
    height: 40vh;
    padding-left: 0;
    animation: fadeIn var(--tr-base);

    h3 {
        margin-bottom: var(--mg-lg);
    }

    li {
        width: 100%;
        font-size: var(--fs-sm);
        // list-style: none;
        margin-bottom: var(--mg-md);
        font-weight: 500px;
    }
}

.linking {
    font-size: var(--fs-lg);
    font-weight: 400;
    margin-left: 35px;
    margin-bottom: var(--mg-xs);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

@include mixins.desktop-md {
    .containerCompare {
        --results-content-width: 350px;
    }

    .container {
        grid-template-columns: repeat(3, 33.3%);
    }
}

@include mixins.desktop-sm {
    .containerCompare {
        --results-content-width: 300px;
    }

    .container {
        grid-template-columns: repeat(2, 50%);
    }
}

@include mixins.mobile-tablet {
    .containerCompare {
        --results-content-width: 200px;
    }


    .listContainer {
        padding: 0 10px;
    }

    .container {
        grid-template-columns: 50% 50%;

        label {
            min-height: 50px;
            width: webkit-fill-available;

            img {
                height: 40px;
                width: 40px;
            }
        }
    }
}

@include mixins.mobile {

    .containerCompare {
        --results-content-height: 450px;
        --results-content-width: 400px;

        grid-template-columns: 0 auto;

    }

    .containerCompare {
        --results-content-width: 200px;
    }

    .container {
        grid-template-columns: 100%;
    }

    .results {
        width: 100vw;
        background: var(--page-bg);
        height: 40vh;
        padding: 0 10px 20px 10px;
        border-top: 2px dotted var(--c-br-transparent);
        transform: translateY(60vh);
        overflow: hidden;

        h2 {
            margin-bottom: var(--mg-xs);
            font-size: var(--fs-lg);
        }

        .textEmpty {
            grid-column-start: 1;
            grid-column-end: 4;
            display: flex;
        }

        .inputsContainer {
            display: grid;
            grid-template-columns: 45% 10% 45%;

            label {
                font-size: var(--fs-sm);
            }

            img {
                height: 40px;
                width: 40px;
            }

            .linking {
                margin: auto auto auto 5px;

            }
        }

        .episodesInCommon {
            height: 20vh;
        }
    }
}