@use '../../styles/mixins.scss';

.header {
    --header-height-total: 100px;
    --header-height: 55px;

    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100vw;
    background: var(--page-bg);
    border-bottom: 1px dotted var(--c-grey-light);
    z-index: 10;

    svg {
        opacity: 0.9;
    }
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--header-height);
    width: var(--page-content-width);
    margin: 0 auto;

    input {
        margin-left: 50px;
    }

    a, p {
        color: var(--c-font-global);
    }
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 80px;

    p {
        font-size: var(--fs-lg);
        font-weight: 600;
        color: var(--c-font-light);
        margin-left: var(--mg-md);
    }
}

.containerSelectors {
    display: flex;
    flex-direction: row;
    width: var(--page-content-width);
    margin: 0 auto;
}

.item {
    font-weight: 600;
}

@include mixins.mobile {
    .container {
        padding-right: 40px;
    }

    .logo {
        margin-right: 60px;

        p {
            font-size: var(--fs-sm);
            margin-right: 60px;
        }
    }

    .item {
        font-size: var(--fs-sm);
    }
}