// @use '../../styles/mixins.scss';

.header {
    --header-height-total: 100px;
    --header-height: 50px;

    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100vw;
    background: var(--page-bg);
    border-bottom: 1px dotted var(--c-grey-light);
    z-index: 10;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--header-height);
    width: var(--page-content-width);
    margin: 0 auto;

    input {
        margin-left: 50px;
    }
}

.containerSelectors {
    display: flex;
    flex-direction: row;
    width: var(--page-content-width);
    margin: 0 auto;
}

// @include mixins.mobile-tablet {
//     .containerSelectors {
//         margin-top: calc(var(--header-height) * -1);
//         display: flex;
//         flex-direction: column;
//         align-items: flex-end;
//     }

//     .header {
//         img {
//             width: 80px;
//             height: auto;
//         }
//     }
// }