@use '../../styles/mixins.scss';

.pageContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 40px;
}

.linkContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: auto;
    width: 100%;
}

@include mixins.desktop-sm {
    .pageContainer {
        padding: 0;
    }
}