@use '../../styles/mixins.scss';

.container {
    --cards-list-columns: 4;
    --grid-gap: 20px;

    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--cards-list-columns), 25%);
    grid-gap: var(--grid-gap);
    width: calc(100% - var(--grid-gap) * (var(--cards-list-columns) - 1));
    min-height: 100vh;

    li {
        list-style: none;
    }
}

.observed {
    height: 2px;
    width: 100%;

    &[data-displayed="false"] {
        display: none;
    }
}

.title {
    margin-bottom: var(--mg-lg);
    font-size: var(--fs-xl);
}

.head {
    display: flex;
    justify-content: space-between;
}

.noResults {
    position: absolute;
    font-size: var(--fs-global);
    font-weight: 600;
    margin: var(--mg-md) 0;
    text-align: center;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
}

@include mixins.mobile-tablet {
    .container {
        grid-template-columns: 50% 50%;
    }

    .head {
        flex-direction: column;
        margin-bottom: var(--mg-lg);
    }
}

@include mixins.mobile {
    .container {
        grid-template-columns: 100%;
        width: 100%;
    }
}