.containerCard {
    cursor: pointer;
    overflow: hidden;
    margin-bottom: var(--mg-xs);
}

.image {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.nameCharacter {
    font-size: var(--fs-lg);
    font-weight: 600;
    color: var(--c-font-light);
}